@model IEnumerable<Models.Employee>
@{
    ViewBag.Title = "Quản lý nhân viên";
}
<h2>Quản lý nhân viên</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Tên</th>
    <th>Phòng ban</th>
    <th>Vai trò</th>
    <th>Face Embedding</th>
    </tr>
    @foreach (var emp in Model)
    {
        <tr>
            <td>@emp.Id</td>
            <td>@emp.Name</td>
            <td>@emp.Department</td>
            <td>@emp.Role</td>
            <td>@emp.FaceEmbedding</td>
        </tr>
    }
</table>
